/* Button.module.css */

.buttonBase {
	@apply px-6 py-3 duration-200 ease-in-out font-medium inline-flex items-center justify-center rounded-sm transition-all;
}
.buttonBase:focus {
	@apply focus:outline-none focus:ring-2 focus:ring-offset-2 ring-bones-gold ring-offset-bones-white dark:ring-offset-bones-black;
}

/* --- primary --- */
.primary,
.primary:active {
	@apply bg-bones-mediumblue text-bones-white;
}
.primary:hover,
.primary:focus {
	@apply bg-bones-blue text-bones-white;
}

/* --- secondary --- */
.secondary,
.secondary:active {
	@apply border-2
    bg-bones-lavender
    border-bones-mediumblue
    text-bones-mediumblue
    dark:bg-bones-black
    dark:border-bones-white
    dark:text-bones-whitesmoke;
}
.secondary:hover,
.secondary:focus {
	@apply bg-bones-white
    text-bones-blue
    border-bones-blue
    dark:bg-bones-black
    dark:text-bones-white
    dark:border-bones-white;
}

/* --- transparent --- */
.transparent,
.transparent:active,
.squareButton,
.squareButton:active {
	@apply bg-bones-transparent
    text-bones-mediumblue
    dark:bg-bones-transparent
    dark:text-bones-whitesmoke;
}
.transparent:hover,
.transparent:focus,
.squareButton:hover,
.squareButton:focus {
	@apply bg-bones-transparent
    text-bones-blue
    dark:bg-bones-transparent
    dark:text-bones-white;
}

/* --- squareButton --- */
.squareButton {
	@apply flex
    p-3
    items-center
    justify-center;
}

/* --- disabled --- */
.disabled {
	@apply cursor-not-allowed opacity-50;
}
.disabled:hover {
}
.disabled:active {
}
.disabled:focus {
}
