/* Button.module.css */

.buttonBase {
	@apply px-6 py-3 duration-200 ease-in-out font-medium inline-flex items-center justify-center rounded-sm transition-all;
}
.buttonBase:focus {
	@apply focus:outline-none focus:ring-2 focus:ring-offset-2 ring-bones-gold ring-offset-bones-white dark:ring-offset-bones-black;
}

/* --- squareButton --- */
.squareButton {
	@apply flex
    p-3
    items-center
    justify-center;
}
.squareButton:hover {
}
.squareButton:active {
}
.squareButton:focus {
}

/* --- primary --- */
.primary,
.primary:active {
	@apply bg-bones-mediumblue text-bones-white;
}
.primary:hover,
.primary:focus {
	@apply hover:bg-bones-blue hover:text-bones-white;
}

/* --- secondary --- */
.secondary,
.secondary:active {
	@apply border-2
    bg-bones-lavender
    border-bones-mediumblue
    text-bones-mediumblue
    dark:bg-bones-black
    dark:border-bones-white
    dark:text-bones-white;
}
.secondary:hover,
.secondary:focus {
	@apply hover:bg-bones-lavender
    dark:hover:bg-bones-black
    dark:hover:border-bones-gold
    dark:hover:text-bones-gold
    hover:border-bones-blue
    hover:text-bones-blue;
}

/* --- transparent --- */
.transparent,
.transparent:active {
	@apply bg-bones-transparent
    dark:bg-bones-transparent
    text-bones-mediumblue
    dark:text-bones-white;
}
.transparent:hover,
.transparent:focus {
	@apply hover:bg-bones-transparent
    dark:hover:bg-bones-transparent
    hover:text-bones-blue
    dark:hover:text-bones-gold;
}

/* --- card --- */
.card {
	@apply bg-bones-white text-bones-black dark:bg-bones-mediumblue dark:text-bones-white;
}
.card:hover {
	@apply hover:bg-bones-white dark:hover:bg-bones-mediumblue;
}
.card:active {
	@apply active:bg-bones-white dark:active:bg-bones-mediumblue;
}
.card:focus {
	@apply focus:ring-bones-cyan;
}

/* --- disabled --- */
.disabled {
	@apply cursor-not-allowed opacity-50;
}
.disabled:hover {
}
.disabled:active {
}
.disabled:focus {
}
