/* Hero.module.css */

.heroSection {
	@apply flex
	flex-col
	py-16
	px-4
	sm:px-0
	bg-bones-blue
	text-bones-white
	dark:bg-bones-white/10
	dark:text-bones-whitesmoke;
}

.heroContainer {
	@apply container
	mx-auto
	flex
	flex-col
	gap-4;
}

.heroHeader {
	@apply flex
	flex-row
	flex-auto
	gap-4
	items-center;
}

.heroAvatar {
	@apply size-16
	overflow-hidden
	rounded-full
	flex-shrink-0;
}

.heroName {
	@apply text-xl
	font-semibold;
}

.heroHeadline {
	@apply text-6xl
	xl:text-9xl
	lg:text-8xl
	md:text-7xl
	font-black
	font-sans
	leading-none;
}

.heroDetails {
	@apply flex
	flex-col
	sm:flex-row
	gap-px
	sm:gap-2
	text-bones-lavender
	dark:text-bones-darkgray;
}

.heroAddress {
	@apply flex
	items-center
	not-italic
	gap-1;
}
